<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>devShare</title>
    <!-- MDB icon -->
    <link
            rel="icon"
            type="image/x-icon"
            href="../img/mdb-favicon.ico"
    />
    <!<!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
            rel="stylesheet"
    />
</head>

<body>
<!-- Start your project here-->
<header>
    <nav class="navbar justify-content-center">
        <strong>
            <a class="navbar-brand" href="#">
                    <span style="color: #000000;margin-left: 10px;">
                        devShare
                    </span>
            </a>
        </strong>
    </nav>

    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Share Your Developing Life.</h1>
        <h4 class="mb-3">이미지 공유를 통해 당신의 개발 삶을 보여주세요.</h4>
        <a class="btn btn-primary" href="" role="button">이미지 업로드 하러 가기</a>
    </div>
</header>

<footer class="text-center text-white fixed-bottom fixed-bottom" style="background-color: #f1f1f1;">
    <!-- Grid container -->
    <div class="container pt-4">
        <section class="mb-4">
            <a
                    class="btn btn-link btn-floating btn-lg text-dark m-1"
                    href="https://github.com/codesoom/project-spring-3-pangnem"
                    role="button"
                    data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
            ></a>
        </section>
    </div>

    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        2021, Made By
        <a href="https://github.com/pangnem">
            Pangnem
        </a>
    </div>
</footer>

<!-- End your project here-->

<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"
></script>
</body>
</html>
